{
{% if docker_dns is defined%}
#   "dns": [],
#   "dns-opts": [],
#   "dns-search": [],
{% endif %}
{% if docker_log is defined %}
    "log-driver": "{{ docker_log.driver }}",
    {% if docker_log.opts is defined and docker_log.opts %}
    "log-opts": {
        {% for key, value in docker_log.opts.items() %}
        "{{ key }}": "{{ value }}"{%if loop.index < docker_log.opts | length %},{%endif%}
        
        {% endfor%}
    },
    {% endif %}
{% endif %}
{% if docker_swarm_advertise_ip is defined %}
    "swarm-default-advertise-addr": "{{ docker_swarm_advertise_ip }}",
{% endif %}
    "ipv6": false,
    "iptables": true,
    "ip-forward": true,
    "ip-masq": true,
    "ip": "{{ docker_bind_ip }}"
}
